<body>
    <header class="top-header">
        <a class="menu-item brand"  href="#">หน้าหลัก</a>
        <a class="menu-item" href="/store">คลังสินค้า</a>
        <a class="menu-item" href="#">ออกจากระบบ</a>
    </header>
    <div class="content">
        <p-table [value]="products" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>รูปภาพ</th>
                    <th>ยี่ห้อ</th>
                    <th>รุ่น</th>
                    <th>รายละเอียด</th>
                    <th>ราคา</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.img}}</td>
                    <td>{{product.brand}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.des}}</td>
                    <td>{{product.price}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</body>