<body>
    <header class="top-header">
        <a class="menu-item brand"  href="store">หน้าร้าน</a>
        <a class="menu-item" style="cursor:pointer;" (click)="Back()">กลับ</a>
    </header>

    <div *ngIf="content == 0"> 
        <p-table [value]="product" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Image</th>
                    <th>Brand</th>
                    <th>Name/Model</th>
                    <th>Details</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Each</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.img}}</td>
                    <td>{{product.brand}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.des}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.type}}</td>
                    <td>{{product.each}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</body>