<body>
    <header class="top-header">
        <a class="menu-item brand"  href="warehouse">สินค้าคงคลัง</a>
        <a class="menu-item" style="cursor:pointer;" (click)="Back()">กลับ</a>
    </header>
    <div class="content">
        <div style=" padding-left: 5px;">
            <button *ngIf="content == 0" pButton pRipple type="button" label="Add Product" (click)="changeContent(1, pdID)" class="p-button-raised button" style="width: 150px;"></button>
            <button *ngIf="content == 1" pButton pRipple type="button" label="Add" (click)="addProduct()" class="p-button-raised button" style="width: 150px;"></button>&nbsp;
            <button *ngIf="content == 2" pButton pRipple type="button" label="Save" (click)="updateProduct(pdID)" class="p-button-raised button" style="width: 150px;"></button>&nbsp;
            <button *ngIf="content == 3" pButton pRipple type="button" label="Delete" (click)="deleteProduct(pdID)" class="p-button-danger button" style="width: 150px;"></button>&nbsp;
            <button *ngIf="content != 0" pButton pRipple type="button" label="Back" (click)="changeContent(0, pdID)" class="p-button-raised button"></button>
            <input *ngIf="content == 0" type="text" pInputText [(ngModel)]="searchText" placeholder="Search">&nbsp;
            <p-dropdown *ngIf="content == 0" [options]="list_type" placeholder="Type" optionLabel="type" [showClear]="true" [(ngModel)]="sortType" (onChange)="sortByType()"></p-dropdown>
        </div> <br>

        <div *ngIf="content == 0"> 
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Brand</th>
                    <th>Name/Model</th>
                    <th>Details</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Each</th>
                    <th style="width: 187px;">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of product | filter:searchText">
                        <td><img width="100px" style="padding: 0px;" src="{{imgPlaceholder(i.image)}}" alt="none"></td>
                        <td>{{i.brand}}</td>
                        <td>{{i.model}}</td>
                        <td>{{i.detail}}</td>
                        <td>{{i.price}}</td>
                        <td>{{i.type}}</td>
                        <td>{{i.each}}</td>
                        <td>
                            <button (click)="changeContent(2, i.id)" pButton pRipple type="button" label="Edit" class="p-button-raised action-button"></button> &nbsp;
                            <button (click)="changeContent(3, i.id)" pButton pRipple type="button" label="Delete" class="p-button-raised p-button-danger action-button"></button>
                        </td>
                    </tr>
                </tbody>
              </table>
            <!-- <p-table [value]="product" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Brand</th>
                        <th>Name/Model</th>
                        <th>Details</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Each</th>
                        <th style="width: 187px;">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.id}}</td>
                        <td><img width="100px" style="padding: 0px;" src="{{imgPlaceholder(product.image)}}" alt="none"></td>
                        <td>{{product.brand}}</td>
                        <td>{{product.model}}</td>
                        <td>{{product.detail}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.type}}</td>
                        <td>{{product.each}}</td>
                        <td>
                            <button (click)="changeContent(2, product.id)" pButton pRipple type="button" label="Edit" class="p-button-raised action-button"></button> &nbsp;
                            <button (click)="changeContent(3, product.id)" pButton pRipple type="button" label="Delete" class="p-button-raised p-button-danger action-button"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table> -->
        </div>

        <div *ngIf="content == 1"> 
            <p-card [style]="{'width': '80'}">
                <div>
                    Brand <br>
                    <input type="text" pInputTex [(ngModel)]="brand"> <br>
                    Name/Model <br>
                    <input type="text" pInputText [(ngModel)]="model"> <br>
                    Details <br>
                    <input type="text" pInputText [(ngModel)]="detail"> <br>
                    Price <br>
                    <input type="text" pInputText [(ngModel)]="price"> <br>
                    Type <br>
                    <input type="text" pInputText [(ngModel)]="type"> <br>
                    Each <br>
                    <input type="text" pInputText [(ngModel)]="each"> <br>
                </div>
            </p-card>
        </div>

        <div *ngIf="content == 2"> 
            <p-card [style]="{'width': '80'}">
                <div>
                    Image <br>
                    <input type="text" pInputTex [(ngModel)]="image" placeholder="{{product_detail.image}}"> <br>
                    Brand <br>
                    <input type="text" pInputTex [(ngModel)]="brand" placeholder="{{product_detail.brand}}"> <br>
                    Name/Model <br>
                    <input type="text" pInputText [(ngModel)]="model" placeholder="{{product_detail.model}}"> <br>
                    Details <br>
                    <input type="text" pInputText [(ngModel)]="detail" placeholder="{{product_detail.detail}}"> <br>
                    Price <br>
                    <input type="text" pInputText [(ngModel)]="price" placeholder="{{product_detail.price}}"> <br>
                    Type <br>
                    <input type="text" pInputText [(ngModel)]="type" placeholder="{{product_detail.type}}"> <br>
                    Each <br>
                    <input type="text" pInputText [(ngModel)]="each" placeholder="{{product_detail.each}}"> <br>
                </div>
            </p-card>
        </div>

        <div *ngIf="content == 3">
            <p-card [style]="{'width': '80', 'margin-bottom': '0em'}">
                <ng-template pTemplate="header">
                </ng-template>
                <div class="row">
                    <div class="col-1">
                        <br><br><br><br><br><br><br><br><b><label>ID</label></b> <br>
                        <b><label>Brand</label></b> <br>
                        <b><label>Name/Model</label></b> <br>
                        <b><label>Details</label></b> <br>
                        <b><label>Price</label></b> <br>
                        <b><label>Type</label></b> <br>
                        <b><label>Each</label></b> <br>
                    </div>
                    <div class="col-1">
                        <label><img width="150px" style="padding: 0px;" src="{{imgPlaceholder(product_detail.image)}}"></label> <br><br>
                        <label>: &nbsp;&nbsp; {{product_detail.id}}</label> <br>
                        <label>: &nbsp;&nbsp; {{product_detail.brand}}</label> <br>
                        <label>: &nbsp;&nbsp; {{product_detail.model}}</label> <br>
                        <label>: &nbsp;&nbsp; {{product_detail.detail}}</label> <br>
                        <label>: &nbsp;&nbsp; {{product_detail.price}}</label> <br>
                        <label>: &nbsp;&nbsp; {{product_detail.type}}</label> <br>
                        <label>: &nbsp;&nbsp; {{product_detail.each}}</label> <br>
                    </div>  
                </div>
            </p-card>
        </div>

    </div>
</body>